@-webkit-keyframes slide-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      opacity: 0.9;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      opacity: 0.9;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  /*$blue:#173c76;*/
  body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: normal;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  body {font-size: 14px;}
  
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after {
    content: "";
    content: none;
  }
  
  q:before, q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  input::ms-clear,
  input[type=password]::ms-reveal {
    display: none;
  }
  
  input[type=search]::-webkit-search-decoration {
    display: none;
  }
  
  input[type=radio],
  input[type=checkbox] {
    margin: 0;
  }
  
  button,
  a.button,
  input[type=reset],
  input[type=submit],
  input[type=button],
  input[type=image] {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    width: auto;
    -webkit-appearance: none;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: roboto, sans-serif;
  }
  
  button,
  input[type=reset],
  input[type=submit],
  input[type=button] {
    line-height: normal !important;
  }
  
  textarea,
  select,
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week] {
    background: none;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    font-family: roboto, sans-serif;
    -webkit-appearance: none;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button,
  select::-webkit-outer-spin-button,
  select::-webkit-inner-spin-button,
  input[type=date]::-webkit-outer-spin-button,
  input[type=date]::-webkit-inner-spin-button,
  input[type=datetime]::-webkit-outer-spin-button,
  input[type=datetime]::-webkit-inner-spin-button,
  input[type=datetime-local]::-webkit-outer-spin-button,
  input[type=datetime-local]::-webkit-inner-spin-button,
  input[type=email]::-webkit-outer-spin-button,
  input[type=email]::-webkit-inner-spin-button,
  input[type=month]::-webkit-outer-spin-button,
  input[type=month]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button,
  input[type=password]::-webkit-outer-spin-button,
  input[type=password]::-webkit-inner-spin-button,
  input[type=search]::-webkit-outer-spin-button,
  input[type=search]::-webkit-inner-spin-button,
  input[type=tel]::-webkit-outer-spin-button,
  input[type=tel]::-webkit-inner-spin-button,
  input[type=text]::-webkit-outer-spin-button,
  input[type=text]::-webkit-inner-spin-button,
  input[type=time]::-webkit-outer-spin-button,
  input[type=time]::-webkit-inner-spin-button,
  input[type=url]::-webkit-outer-spin-button,
  input[type=url]::-webkit-inner-spin-button,
  input[type=week]::-webkit-outer-spin-button,
  input[type=week]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  button[disabled],
  input[disabled],
  select[disabled],
  select[disabled] option,
  select[disabled] optgroup,
  textarea[disabled] {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
  
  textarea {
    min-height: 50px;
    overflow: auto;
    resize: vertical;
    width: 100%;
  }
  
  optgroup {
    font-style: normal;
    font-weight: normal;
    font-family: roboto, sans-serif;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  @-moz-document url-prefix() {
    input:invalid,
  button:invalid,
  select:invalid,
  textarea:invalid {
      box-shadow: none;
    }
    input::-moz-focus-inner,
  button::-moz-focus-inner,
  select::-moz-focus-inner,
  textarea::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  
    select {
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: "";
    }
  }
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
   .header-top ol, ul {
    list-style: none;
  }
  header ol, ul {
    list-style: none;
  }
  .header-top {
    background: #f5f6fa;
    padding: 8px 0;
  }
  .header-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            margin:0;
  }
  .header-top ul li a {
    display: block;
  }
  .header-top ul li a img {
    padding-right: 5px;
    vertical-align: middle;
  }
  .header-top ul li a span {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    color: #7f899b;
  }
  .header-top ul li.right a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 30px;
    background: #231f20;
    color:#fff; 
  }
  
  .header-top ul li.right .cart {
    display: inline-block;
    padding: 0;
    border-radius:0;
    background:none;
    color:#fff; 
  }
  .header-top ul li.right a span {
    color: #fff;
    text-transform: uppercase;
  }
  /* .header-top ul li.right a:last-child { */
    /* background: #008bdb; */
    /* margin-left: 5px; */
  /* } */
  
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header>ul{
       margin-bottom:15px;
  }
  header ul li.openmenu {
    display: none;
  }
  
  .package-header {
    border-bottom: 1px solid #231f20;
  }
  
  .mainmenuparent a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #121d22;
    display: inline-block;
    margin: 0 6px;
    padding: 20px 10px;
    position: relative;
    border-bottom: 4px solid transparent;
    cursor:pointer;
  }
  .mainmenuparent a:hover {
    color: #231f20;
    border-bottom: 4px solid #231f20;
  }
  .mainmenuparent a.active {
    border-bottom: 4px solid #231f20;
  }
  
  
  header ul li a.logo img{width:120px;}
  
  
  @media (max-width: 767px) {
    .header-top ul li a span {
      font-size: 11px;
    }
    .header-top ul li.right a {
      padding: 8px 10px;
    }
    .header-top ul li.right a:last-child {
      margin: 0;
    }
  
    header ul {
      padding: 10px 0;
    }
    header ul li a {
      display: block;
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      padding: 15px 10px;
      margin-bottom: 10px;
    }
    header ul li.openmenu {
      display: block;
      cursor: pointer;
    }
  
    header > ul{margin-bottom: 0;}
  
    .mainmenuparent { 
      position: fixed;
      top: 0;
      bottom: 0;
      left: -100%;
      right: 0;
      background: #f5f6fa;
      z-index:99;
      width: 300px;
      display: block;
      transition:all 0.4s;
    }
    .mainmenuparent.active{left: 0;}
  
    .mainmenuparent a {
      padding: 10px 20px;
    }
  }
  footer {
    margin: 100px 0 0;
  }
  footer .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 3px -10px 58px -22px rgba(0, 0, 0, 0.3);
            box-shadow: 3px -10px 58px -22px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 999;
    background: #fff;
  }
  footer .footer-flex .left {
    width: 40%;
  }
  footer .footer-flex .left label {
    display: block;
    padding-bottom: 35px;
    color: #1a1746;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  footer .footer-flex .left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .footer-flex .left ul li {
    width: 48%;
    margin-bottom: 16px;
  }
  footer .footer-flex .left ul li input {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid #acb1c5;
    padding-bottom: 6px;
    font-size: 12px;
    color: #716e74;
  }
  footer .footer-flex .left ul li a {
    display: block;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background: #632065;
    padding: 15px 0;
    text-transform: uppercase;
    text-align: center;
  }
  footer .footer-flex .middel {
    width: 18%;
  }
  footer .footer-flex .middel label {
    display: block;
    padding-bottom: 35px;
    color: #1a1746;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  footer .footer-flex .middel ul li {
    margin-bottom: 16px;
  }
  footer .footer-flex .middel ul li a {
    display: block;
    font-size: 13px;
    border-bottom: 1px dashed #b4b4bd;
    color: #3a3854;
    padding-bottom: 6px;
  }
  footer .footer-flex .right {
    width: 35%;
  }
  footer .footer-flex .right label {
    display: block;
    padding-bottom: 32px;
    color: #1a1746;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  footer .footer-flex .right input {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid #acb1c5;
    padding-bottom: 6px;
    font-size: 12px;
    color: #716e74;
    background: url(../images/home/red-arrow.png) no-repeat 99%;
  }
  footer .footer-flex .right span {
    display: block;
    padding: 35px 0 25px;
    font-size: 15px;
    font-weight: 700;
    color: #1a1746;
  }
  footer .footer-flex .right a {
    margin: 0 3px;
  }
  footer .copyright {
    background: #231f20;
    padding: 100px 0 30px;
    text-align: center;
    margin-top: -70px;
  }
  footer .copyright p {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
  }
  
  @media (max-width: 767px) {
    footer {
      margin: 45px 0 0;
    }
    footer .footer-flex {
      display: block;
    }
    footer .footer-flex .left {
      width: 100%;
    }
    footer .footer-flex .left label {
      padding-bottom: 20px;
    }
    footer .footer-flex .left ul li {
      width: 100%;
    }
    footer .footer-flex .middel {
      width: 100%;
      margin: 10px 0 20px;
      padding: 20px 0;
      border-top: 1px solid #b4b4bd;
      border-bottom: 1px solid #b4b4bd;
    }
    footer .footer-flex .middel label {
      padding-bottom: 20px;
    }
    footer .footer-flex .right {
      width: 100%;
    }
    footer .footer-flex .right label {
      padding-bottom: 20px;
    }
  }
    
       
  
  @media (max-width: 767px) {
    .mobile-form-button {
      display: block;
    }
   
  } 
  
     .btnlogout {
              color: #fff !important;
          }
  
          .swal2-title {
              font-size: 18px !important;
          }
  
          .swal2-content {
              font-size: 12px !important;
          }
  
          .fbgbtn {
              display: flex;
              padding: 20px 0;
              justify-content: center;
          }
  
              .fbgbtn a {
                  display: inline-block;
                  margin-right: 10px;
                  padding: 6px 11px;
                  box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.4);
                  cursor: pointer;
              }
  
  
          .fbbtn {
              width: 20%;
          }
  
          ._xvm ._5h0c._5h0d ._5h0i {
              max-width: 202px;
              min-width: initial;
              width: 132px !important;
              border-radius: 0;
          }
  
          .main-popup-box {
              position: fixed;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              z-index: 9999;
              background: rgba(0,0,0,0.8);
              display: none;
              align-items: center;
              justify-content: center;
          }
  
          .btntoursubmit {
              border: none !important;
              color: inherit !important;
              padding: 0 !important;
              font-size: inherit !important;
              font-weight: inherit !important;
          }
  
         a{text-decoration:none !important;}
      
          li.sub-icon{
  
              position:relative;
          }
        li.sub-icon .sub-menu {
      display: none;
      box-shadow: 1px 2px 4px 0px #0000004d;
       
      padding: 5px;
      position: absolute;
      top:60px;
      left: 0;
      right: 0;
      background: #fff;
      z-index: 9;
      width:230px;
  }
  
  li.sub-icon .sub-menu::after{content:''; position:absolute; top:-7px;  left:35px; right:0;   width:16px; height:16px;} 
  
        li.sub-icon .sub-menu a{
  
            padding:6px;
            margin:0px;
            width:100%;
        }
        
        .sub-sub-menu li a{
            width:100%;
            margin:0px;
            
        }
          li.sub-icon:hover ul.sub-menu {
      display: block !important;
  } 
  
  
                li.sub-sub-icon{
  
              position:relative;
          }
        li.sub-sub-icon .sub-sub-menu {
      display: none;
      box-shadow: 1px 2px 4px 0px #0000004d;
       
      padding: 5px;
      position: absolute;
      top:0px;
      left:200px;
      right: 0;
      background: #fff;
      z-index: 9;
      width:230px;
  }
  
  li.sub-sub-icon .sub-sub-menu::after{content:''; position:absolute; top:-7px;  left:35px; right:0;width:16px; height:16px;} 
  
        li.sub-sub-icon .sub-sub-menu a{
  
            padding:6px;
        }
          li.sub-sub-icon:hover ul.sub-sub-menu {
      display: block !important;
  } 
  
  
      .happy-traveler .traveler .right ul li label img{border-radius:100px; border:5px solid #fff; height:100px; width:100px; margin:0 auto;}
      .happy-traveler .traveler .right ul li{  margin:0 10px;}
      .happy-traveler .traveler .right ul li article{padding:30px 0;}
  
      .happy-traveler .traveler .right ul .slick-list{padding-bottom:52px;}
      
      
      @media (max-width:767px){ 
          
          .header-top{text-align:right;}
          
          .header-top ul{display:block;} 
          .header-top ul li:first-child{display:none;} 
            li.sub-icon .sub-menu{
               top: 41px;
           }
          header ul li a{padding:0; margin:0;}
  
      footer .footer-flex .right span{text-align: center;}
  
      footer .footer-flex .right .social-icons{text-align: center;}
          
      }
      
      .overlay.active {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 0.4s ease;
  }